///////////
// FONTS //
///////////

// Google Font Import
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300);

html {
  font: 300 1em/1.5em 'Raleway', Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

h1 {
  font: 100 2.5em/1.5em 'Raleway', Arial, sans-serif;
}

h2 {
  font: 100 2em/1.5em 'Raleway', Arial, sans-serif; 
}

h3 {
  font: 100 1.5em/1.5em 'Raleway', Arial, sans-serif;
}

p {
  letter-spacing: 0.1em;
  line-height: 1.8em;
}