@import url(http://fonts.googleapis.com/css?family=Raleway:100,300);
/* line 6, ../sass/_grid.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
}

/* Attribute selector for normalizing grid bits */
/* line 16, ../sass/_grid.scss */
[class*='block-'] {
  float: left;
  padding: 10px;
}

/* Floats last ".bit-" to the right */
/* line 22, ../sass/_grid.scss */
[class*='block-']:last-of-type {
  padding-right: 10px;
  float: right;
}

/* Clearfix */
/* line 28, ../sass/_grid.scss */
.frame:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, ../sass/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 43, ../sass/_grid.scss */
.block {
  float: left;
  padding: 1em;
}
/* line 47, ../sass/_grid.scss */
.block:last-of-type {
  padding-right: 1em;
  float: right;
}
/* line 52, ../sass/_grid.scss */
.block > img {
  max-width: 100%;
  height: auto;
}
/* line 57, ../sass/_grid.scss */
.block.one {
  width: 100%;
  padding-right: 0;
  float: none;
}
/* line 62, ../sass/_grid.scss */
.block.two {
  width: 50%;
}
/* line 63, ../sass/_grid.scss */
.block.three {
  width: 33.33%;
}
/* line 64, ../sass/_grid.scss */
.block.four {
  width: 25%;
}
/* line 65, ../sass/_grid.scss */
.block.five {
  width: 20%;
}
/* line 66, ../sass/_grid.scss */
.block.six {
  width: 16.6666666667%;
}
/* line 67, ../sass/_grid.scss */
.block.seven {
  width: 14.2857142857%;
}
/* line 68, ../sass/_grid.scss */
.block.eight {
  width: 12.5%;
}
/* line 69, ../sass/_grid.scss */
.block.nine {
  width: 11.1111111111%;
}
/* line 70, ../sass/_grid.scss */
.block.ten {
  width: 10%;
}
/* line 71, ../sass/_grid.scss */
.block.eleven {
  width: 9.09090909091%;
}
/* line 72, ../sass/_grid.scss */
.block.twelve {
  width: 8.33%;
}

@media (min-width: 800px) and (max-width: 1100px) {
  /* line 83, ../sass/_grid.scss */
  .block.two, .block.seven {
    width: 100%;
  }
  /* line 88, ../sass/_grid.scss */
  .block.four, .block.eight, .block.ten, .block.twelve {
    width: 50%;
  }
}
@media (max-width: 800px) {
  /* line 100, ../sass/_grid.scss */
  .block.one, .block.two, .block.three, .block.five, .block.seven, .block.nine, .block.eleven {
    width: 100%;
  }
  /* line 110, ../sass/_grid.scss */
  .block.four, .block.six, .block.eight, .block.ten, .block.twelve {
    width: 50%;
  }
}
@media (max-width: 480px) {
  /* line 123, ../sass/_grid.scss */
  .block.one, .block.two, .block.three, .block.four, .block.five, .block.six, .block.seven, .block.eight, .block.nine, .block.ten, .block.eleven, .block.twelve {
    width: 100%;
  }
}
/* Contains site defaults and UI styling */
/* line 16, ../sass/_colors.scss */
.color-white {
  color: #f9f9f9;
}

/* line 20, ../sass/_colors.scss */
.bg-white {
  background: #f9f9f9;
}

/* line 24, ../sass/_colors.scss */
.color-grey {
  color: #7d7d7d;
}

/* line 28, ../sass/_colors.scss */
.bg-grey {
  background: #7d7d7d;
}

/* line 32, ../sass/_colors.scss */
.color-light-grey {
  color: #ccc;
}

/* line 36, ../sass/_colors.scss */
.bg-light-grey {
  background: #ccc;
}

/* line 40, ../sass/_colors.scss */
.color-powder-blue {
  color: #9cc;
}

/* line 44, ../sass/_colors.scss */
.bg-powder-blue {
  background: #9cc;
}

/* line 48, ../sass/_colors.scss */
.color-sea-blue {
  color: #b5ecdf;
}

/* line 52, ../sass/_colors.scss */
bg-sea-blue {
  background: #b5ecdf;
}

/* line 56, ../sass/_colors.scss */
.color-coral {
  color: #f56f59;
}

/* line 60, ../sass/_colors.scss */
.bg-coral {
  background: #f56f59;
}

/* line 64, ../sass/_colors.scss */
.color-yellowgreen {
  color: #80bd00;
}

/* line 68, ../sass/_colors.scss */
.color-whitesmoke {
  color: #ececec;
}

/* line 72, ../sass/_colors.scss */
.bg-whitesmoke {
  background: #ececec;
}

/* line 76, ../sass/_colors.scss */
.color-dark-blue {
  color: #32505F;
}

/* line 80, ../sass/_colors.scss */
.bg-dark-blue {
  background: #32505F;
}

/* line 84, ../sass/_colors.scss */
.color-pink {
  color: #FF4771;
}

/* line 88, ../sass/_colors.scss */
.bg-pink {
  background: #FF4771;
}

/* line 92, ../sass/_colors.scss */
.color-red {
  color: #C85B60;
}

/* line 96, ../sass/_colors.scss */
.bg-red {
  background: #FF4771;
}

/* line 8, ../sass/_fonts.scss */
html {
  font: 300 1em/1.5em 'Raleway', Arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

/* line 14, ../sass/_fonts.scss */
h1 {
  font: 100 2.5em/1.5em 'Raleway', Arial, sans-serif;
}

/* line 18, ../sass/_fonts.scss */
h2 {
  font: 100 2em/1.5em 'Raleway', Arial, sans-serif;
}

/* line 22, ../sass/_fonts.scss */
h3 {
  font: 100 1.5em/1.5em 'Raleway', Arial, sans-serif;
}

/* line 26, ../sass/_fonts.scss */
p {
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

/* line 5, ../sass/_home.scss */
.info {
  max-width: 80%;
  margin: 0 auto;
}

/* line 10, ../sass/_home.scss */
section {
  padding: 2em 0;
  border-bottom: .5em solid #fff;
}
/* line 13, ../sass/_home.scss */
section h2 {
  margin: 0 auto .5em auto;
}
/* line 16, ../sass/_home.scss */
section p {
  margin: 0 auto;
}
/* line 19, ../sass/_home.scss */
section img + p {
  margin-top: 1em;
}

/* line 29, ../sass/_home.scss */
.contact-form h3 {
  display: inline;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 34, ../sass/_home.scss */
.contact-form ul {
  width: 75%;
  list-style-type: none;
  list-style-position: outside;
  margin: 0 auto;
  padding: 0;
}
/* line 41, ../sass/_home.scss */
.contact-form li {
  padding: 1em;
  position: relative;
}
/* line 48, ../sass/_home.scss */
.contact-form label {
  width: 7em;
  margin-top: .5em;
  display: inline-block;
  float: left;
  padding: .5em;
}
/* line 55, ../sass/_home.scss */
.contact-form input {
  width: 20em;
  height: 1.5em;
  margin-top: .8em;
  padding: 1em .8em;
}
/* line 61, ../sass/_home.scss */
.contact-form textarea {
  padding: .5em;
  width: 40em;
}
/* line 65, ../sass/_home.scss */
.contact-form input, .contact-form textarea {
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px #ccc;
  border-radius: 2px;
}
/* line 70, ../sass/_home.scss */
.contact-form input:focus, .contact-form textarea:focus {
  background: #fff;
  box-shadow: 0 0 3px #9cc;
}
/* line 75, ../sass/_home.scss */
.contact-form .required {
  color: #f56f59;
  display: inline;
  float: right;
  font-size: 0.5em;
  margin: .9em 0 0 0;
}
/* line 82, ../sass/_home.scss */
.contact-form .form-box {
  border: 0.1em dotted #7d7d7d;
  border-radius: .3em;
}

/* line 88, ../sass/_home.scss */
*:focus {
  outline: none;
}

/* line 11, ../sass/_base.scss */
.logo {
  max-width: 200px;
  max-height: 200px;
}

/* line 16, ../sass/_base.scss */
header {
  background-color: #9cc;
  text-align: center;
  padding: 2em 0;
  border-bottom: .5em solid #fff;
}

/* line 26, ../sass/_base.scss */
nav {
  text-align: center;
}
/* line 28, ../sass/_base.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/_base.scss */
nav ul li {
  display: inline;
  color: #ececec;
}
/* line 35, ../sass/_base.scss */
nav ul li:last-child:after {
  content: '';
  padding-right: 0;
}
/* line 39, ../sass/_base.scss */
nav ul li:after {
  content: '~';
  padding: 0 1.5em;
}
/* line 43, ../sass/_base.scss */
nav ul li a {
  color: #ececec;
}
/* line 45, ../sass/_base.scss */
nav ul li a:hover {
  color: #f56f59;
}

/* line 54, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 62, ../sass/_base.scss */
.button {
  width: 10em;
  height: 3em;
  background: #f56f59;
  color: #ececec;
  border: 0.15em solid #f56f59;
  padding: .5em 1em;
  line-height: 1.5em;
  margin: 1em auto;
  display: block;
  text-align: center;
  border-radius: .3em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
}
/* line 76, ../sass/_base.scss */
.button:hover {
  color: #ececec;
  border-color: #f4867a;
  background: #f4867a;
}

/* line 87, ../sass/_base.scss */
.center {
  text-align: center;
}

/* line 95, ../sass/_base.scss */
hr {
  display: block;
  border-width: .5em;
}
